interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ip-api.com/json/
  response:
    body:
      string: '{"status": "success", "country": "Portugal", "countryCode": "PT", "region":
        "15", "regionName": "Set\u00fabal", "city": "Almada", "zip": "FILTERED", "lat":
        0.0, "lon": 0.0, "timezone": "Europe/Lisbon", "isp": "FILTERED", "org": "FILTERED",
        "as": "FILTERED", "query": "FILTERED"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rl:
      - '44'
      X-Ttl:
      - '60'
    status:
      code: 200
      message: OK
version: 1
