interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?appid=FILTERED&lat=0&lon=0&units=metric
  response:
    body:
      string: '{"coord": {}, "weather": [{"id": 800, "main": "Clear", "description":
        "clear sky", "icon": "01d"}], "base": "stations", "main": {"temp": 21.52,
        "feels_like": 21.58, "temp_min": 19.3, "temp_max": 22.51, "pressure": 1012,
        "humidity": 71, "sea_level": 1012, "grnd_level": 1004}, "visibility": 10000,
        "wind": {"speed": 5.14, "deg": 240}, "clouds": {"all": 0}, "dt": 1775839802,
        "sys": {"type": 1, "id": 6901, "country": "PT", "sunrise": 1775801261, "sunset":
        1775848058}, "timezone": 3600, "id": 8012502, "name": "Socorro", "cod": 200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=FILTERED&lat=0&lon=0&units=metric
  response:
    body:
      string: '{"cod": "200", "message": 0, "cnt": 40, "list": [{"dt": 1775844000,
        "main": {"temp": 21.52, "feels_like": 21.58, "temp_min": 18.28, "temp_max":
        21.52, "pressure": 1012, "sea_level": 1012, "grnd_level": 1004, "humidity":
        71, "temp_kf": 3.24}, "weather": [{"id": 500, "main": "Rain", "description":
        "light rain", "icon": "10d"}], "clouds": {"all": 0}, "wind": {"speed": 4.34,
        "deg": 255, "gust": 5.67}, "visibility": 10000, "pop": 0.34, "rain": {"3h":
        0.32}, "sys": {"pod": "d"}, "dt_txt": "2026-04-10 18:00:00"}, {"dt": 1775854800,
        "main": {"temp": 19.54, "feels_like": 19.56, "temp_min": 15.57, "temp_max":
        19.54, "pressure": 1013, "sea_level": 1013, "grnd_level": 1006, "humidity":
        77, "temp_kf": 3.97}, "weather": [{"id": 500, "main": "Rain", "description":
        "light rain", "icon": "10n"}], "clouds": {"all": 0}, "wind": {"speed": 3.91,
        "deg": 301, "gust": 7.88}, "visibility": 10000, "pop": 0.77, "rain": {"3h":
        0.39}, "sys": {"pod": "n"}[...]
